<ion-header class="login-header auth-header">
  <ion-navbar>
    <ion-title>
      <div class="header-logo">
        <preload-image [ratio]="{ w: 1, h: 1 }" src="./assets/images/logos/logo_apptui.png" class="logo_app"></preload-image>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="login-content auth-content">
  <ion-grid class="logo-principal">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-col col-6>
        <preload-image [ratio]="{ w: 2, h: 1 }" src="./assets/images/logos/logo_uv.png"></preload-image>
      </ion-col>
      <ion-col col-6>
        <preload-image [ratio]="{ w: 2, h: 0.5 }" src="./assets/images/logos/logo_obbtui_small.png"></preload-image>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form class="login-form auth-form" [formGroup]="accederForm" (ngSubmit)="acceder()">
    <ion-item>
      <ion-input type="text" placeholder="RUN" formControlName="run" validate-onblur maxlength="8"></ion-input>
    </ion-item>
    <show-hide-container>
      <ion-item>
        <ion-input type="password" placeholder="Contraseña" formControlName="contrasena" show-hide-input></ion-input>
      </ion-item>
    </show-hide-container>
    <ion-card class="item-info">
      <ion-card-content>
        <p class="item-text">
          <ion-icon name="information-circle"></ion-icon>&nbsp;
          RUN sin puntos, guión, ni dígito verificador.</p>
      </ion-card-content>
    </ion-card>
    <button ion-button block class="auth-action-button login-button" type="submit" [disabled]="!accederForm.valid">Acceder</button>
  </form>
  <button ion-button block color="danger" *ngIf="accederForm.controls.run.touched && !accederForm.controls.run.pristine && !accederForm.controls.run.valid || accederForm.controls.run.value == '' && !accederForm.controls.contrasena.touched || accederForm.controls.run.value == ''">
    <ion-icon name="information-circle"></ion-icon>&nbsp;
    El RUN no es válido
  </button>
  <button ion-button block color="danger" *ngIf="accederForm.controls.contrasena.touched && accederForm.controls.contrasena.invalid">
    <ion-icon name="information-circle"></ion-icon>&nbsp;
    La contraseña no es válida
  </button>
  <ion-row class="alt-options">
    <ion-col no-padding col-12>
      <button ion-button block clear class="forgot-button" (click)="olvidarContrasena()">¿Olvidaste tu contraseña?</button>
    </ion-col>
  </ion-row>
  <ion-row class="alt-options">
    <ion-col no-padding col-12>
      <button ion-button block clear class="forgot-button" (click)="presentacion()">Conoce tu aplicación</button>
    </ion-col>
  </ion-row>
</ion-content>
