ion-app.md {
	presentacion-page {
		.presentacion-header {
			&::after {
				background: none;
			}
		}

		.presentacion-content {
			.button-bar {
				background: $white;
  			border-radius: 6px;

				& > .button {
					box-shadow: none;
				}
			}
		}
	}
}