<ion-header>
  <ion-navbar>
    <ion-title>Configuración</ion-title>
    <ion-buttons end [hidden]="!settingsForm.dirty">
      <button ion-button>
        Guardar
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="configuracion-content">
  <div class="user-image-content">
    <ion-row no-padding class="user-image-row">
      <ion-col no-padding width-40>
        <preload-image class="user-image" [ratio]="{w:1, h:1}" [src]="profile.user.image" alt="aca va la img" title="IMAGE!"></preload-image>
      </ion-col>
    </ion-row>
    <h3 class="image-action">Cambiar foto de perfil</h3>
  </div>

  <form [formGroup]="settingsForm" class="configuracion-form">
    <ion-list class="user-data-content">
      <ion-item>
        <ion-label stacked>Nombre</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Ubicación</ion-label>
        <ion-input type="text" formControlName="location"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Descripción</ion-label>
        <ion-textarea formControlName="description" rows="5" placeholder="Una pequeña descripción..."></ion-textarea>
      </ion-item>
    </ion-list>

    <!-- ion-row class="user-preferences-row">
      <span class="radio-tags-label">Currency</span>
      <ion-list class="radio-tags" radio-group formControlName="currency">
        <ion-item class="radio-tag">
          <ion-label>&#36;</ion-label>
          <ion-radio value="dollar"></ion-radio>
        </ion-item>
        <ion-item class="radio-tag">
          <ion-label>
            <span>&euro;</span>
          </ion-label>
          <ion-radio value="euro"></ion-radio>
        </ion-item>
        <ion-item class="radio-tag">
          <ion-label>
            <span>&pound;</span>
          </ion-label>
          <ion-radio value="pound"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-row>

    <ion-row class="user-preferences-row">
      <span class="radio-tags-label">Weather</span>
      <ion-list class="radio-tags" radio-group formControlName="weather">
        <ion-item class="radio-tag">
          <ion-label>&deg;C</ion-label>
          <ion-radio value="celsius"></ion-radio>
        </ion-item>
        <ion-item class="radio-tag">
          <ion-label>
            <span>&deg;F</span>
          </ion-label>
          <ion-radio value="fahrenheit"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-row>

    <ion-list class="switchers-list">
      <ion-item class="switcher-item">
        <ion-label>Notifications</ion-label>
        <ion-toggle formControlName="notifications"></ion-toggle>
      </ion-item>
    </ion-list -->
  </form>

  <button class="alt-button" ion-button full (click)="showPrivacyModal()">Política de privacidad</button>

  <button class="alt-button" ion-button full (click)="showTermsModal()">Términos de uso</button>

  <button class="alt-button logout-button" ion-button full icon-left (click)="logout()">
    <ion-icon name="log-out"></ion-icon>
    Cerrar sesión
  </button>
</ion-content>
